/*
colores
amarillo
#c8d23e
#ccd547
rojo
#f05656
fondo gris
#dbdbdb

fondo negro
#1d1d1b

gradiente vertical #c9d244   #776da1
*/
@font-face {
    font-family: 'Work Sans Regular';
    src: url(../fonts/WorkSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Work Sans Bold';
    src: url(../fonts/WorkSans-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Work Sans Light';
    src: url(../fonts/WorkSans-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Work Sans Black';
    src: url(../fonts/WorkSans-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'Work Sans Extra Bold';
    src: url(../fonts/WorkSans-ExtraBold.ttf) format('truetype');
}

/* Aplica la fuente a los elementos deseados */
body {
    font-family: 'Work Sans Regular', sans-serif;
}

.strong{
    font-family: 'Work Sans Bold', sans-serif !important;
}
.strong-2{
    font-family: 'Work Sans Black', sans-serif !important;
}
.strong-3{
    font-family: 'Work Sans Extra Bold', sans-serif !important;
}
p{
    margin-bottom: 10px;
}
a.btn-verde,
a.btn-rojo{
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem 2rem;
    font-size: 1rem;
    border-radius: .25rem;

    font-size: 12pt;
    box-shadow: 10px 10px 15px #1d1a191b;
}


.content-top-banner,
.content-main,
.content-footer,
.content-banner,
.content-info{
    width: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.content-top-banner .top-banner,
.content-main .main,
.content-info .info{
    
    width: 1024px;
    margin: 0 auto;
}
.content-info .info-2{
    width: 820px;
    margin: 0 auto;
}
.content-top-banner,
.content-main,
.content-contacto{
    color: #fff;
    background-color: #1d1d1b;
}
.content-top-banner .top-banner{
    padding: 70px 0px;
}
.content-banner{
    padding: 55px 25px;
    background-image: linear-gradient(to bottom,#7c72a5, #5b5284);
    border-bottom: 15px solid #7c72a5;
}
.info-2-verde{
    color: #fff;
    background-image: linear-gradient(to bottom, #7c72a5,#5b5284); 
    border-bottom: 20px solid #7c72a5;
}
.info-2-txt{
    font-size: 18pt;
}
.content-info{
    padding: 25px 25px;
    background-color: #dbdbdb;
}
.main{
    justify-content: space-between;
    gap: 25px;
    height: 1064px;
    padding: 40px 160px;
    background-image: url('../images/bg-landing_3.jpg');
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 340px;
    padding: 15px 18px;
    border-radius: 11px;
    background-color: rgba(255, 255, 255, .8);
}
.form .titulo-form{
    display: flex;
    justify-content: center;
    padding: 5px 10px;

    font-size: 14pt;
    background-color: #776da1;
}
.form .subtitulo{
    color: #776da1;
    font-size: 7pt;
    text-align: center;
}
.form .nota{
    text-align: center;
    color: #616161;
    font-size: 7pt;
}
.form .divider{
    width: 2px;
    height: 76px;
    background-color: #776da1;
}
.subtitulo-form{

    color: #1d1a19;
    font-size: 7pt;
}
.text-radio{
    width: 220px;
}
.text-radio,
.form-check-label{
    color: #616161;
    font-size: 6pt;
}
input[type=text],
select.form-select{
    color: #616161;
    padding: 3px 0;
    font-size: 8pt;
    border-radius: 0;
    background-color: transparent;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 1px solid #1d1d1b;
}
select.form-select{
    background-position: right 0.15rem center;
}
.form-check .form-check-input{
    margin-left: -18px;
}
button.btn-verde,
a.btn-verde{
    color: #fff;
    background-color: #776da1;
    border-color: #776da1;
}
button.btn-rojo,
a.btn-rojo{
    color: #fff;
    background-color: #f04e4e;
    border-color: #f04e4e;
}
.btn-enviar{
    width: 100%;
    font-size: 16pt;
    text-transform: uppercase;
}
.banner{
    justify-content: center;
    align-items: center;
}
.info{
    padding: 80px 50px 100px;
    gap: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 30px #1d1a191b;
    background-image: url('../images/bg-universidad.jpg');
    background-size: 110%;
    background-repeat: no-repeat;
    background-position-x: -15px;
}
.contorno{
    font-size: 9pt;
    text-transform: uppercase;
    color: #776da1;
    padding: 5px 0;
    width: 180px;
    text-align: center;

    border-top: 2px solid #776da1;
    border-bottom: 2px solid #776da1;
}
.txt-info{
    font-size: 8pt;
    color: #474747;
    text-align: center;
}
.icon-info{
    align-items: end;
    height: 75px;
}
.icon-info img{
    height: fit-content;
}
.line{
    height: 2px;
    width: 100%;
    background-color: #fff;
}
.titulo-seccion{
    font-size: 10pt;
}
.txt-dato{
    font-size: 9pt;
}
.content-contacto{
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.contacto{
    font-size: 14pt;
}
.txt-dato a{
    color: #fff;
    text-decoration: none;
}
.cta-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 128px;
}
.footer{
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    padding: 15px 15px;
    font-size: 9pt;
    color: #dbdbdb;
    background-color: #000;
}
.text-footer{
    justify-content: center;
}
.info-botones{
    color: #767676;
    text-align: center;
    font-size: 5pt;
    width: 620px;
    margin: 0 auto;
}
.col-elegir{
    width: 25%;
}
.text-white{
    color: #fff;
    font-size: 8pt;
    font-family: 'Work Sans Bold';
}

/***************************** respuesta   *************************+*/
.txt-gracias{
    color: #fff;
    text-align: center;
    width: 455px;
    height: 455px;
    margin-bottom: -50px;
    padding: 20px 37px;
    border-radius: 6px;
    background-color: #776da18f;
}
.divider-gracias{
    width: 100%;
    height: 3px;
    background-color: #fff;
}
.text-gracias{
    font-size: 18pt;
}
.text-gracias-contenido{
    font-size: 13pt;
    line-height: 1.25;
}
.text-nombre{
    font-size: 17pt;
}
.text-cargo{
    font-size: 13pt;
}

.body-respuesta{
    background-color: #1d1d1b;
}
.content-respuesta-info{
    background-color: #fff;
    width: 1024px;
    margin: 0 auto;
}
.content-respuesta-top-banner,
.content-respuesta-main .main,
.content-respuesta-info .info-2,
.content-respuesta-banner .banner{
    
    width: 1024px;
    margin: 0 auto;
}

.content-respuesta-info .info{
    width: 700px;
    margin: 0 auto;
}
.content-respuesta-top-banner{
    color: #fff;
    background-color: #1d1d1b;
}
.content-respuesta-top-banner .top-banner{
    padding: 20px 0px;
}
.content-respuesta-banner .banner{
    padding: 15px 25px;
    background-color:#776da1;
}
.content-respuesta-main .main{
    justify-content: space-between;
    gap: 20px;
    height: 480px;
    padding: 10px 30px;

    background-image: url('../images/bg-gracias.jpg');
    background-size: cover;
}
.content-respuesta-info .info{
    padding: 60px 0px 20px;
    border-radius: 0;
    background-image: none;
    box-shadow: none;
    background-color: #fff;
}


.divider-white{
    width: 2px;
    height: 76px;
    background-color: #fff;
}
.titulo-reta{
    line-height: 0.9;
}
.titulo-1{
    font-size: 26pt;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.titulo-2{
    font-size: 16pt;
    text-transform: uppercase;
    letter-spacing: 2.3px;
}
.text-lidera{
    font-size: 12pt;
    letter-spacing: 1.5px;
}
.bloque-wsp{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: 700px;
    padding: 10px 20px 18px;
    font-size: 17pt;
    color: #fff;
    background-color: #776da1;
    border-bottom-right-radius: 48px;
}
a.btn-conversemos{
    margin-top: -22px;
    font-size: 22pt;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.content-pregunta{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.pregunta{
    color: #776da1;
    font-size: 14pt;
}
.respuesta{
    color: #1d1d1b;
    font-size: 13pt;
    padding-bottom: 10px;
    line-height: 1.7;
}
a.btn-pequeno{
    font-size: 13pt;
    padding: 5px 8px;
}
.divider-plomo{
    background-color: #AAAAAA;
    height: 1px;
    width: 100%;
}
.compartimos{
    font-size: 16pt;
    color: #474747;
}
.cuatro-preguntas{
    color: #776da1;
    display: flex;
    gap: 14px;
    align-items: center;
}
.cuatro-preguntas .numero{
    font-size: 36pt;
}
.cuatro-preguntas .letras{
    font-size: 26pt;
}
.respecto{
    font-size: 16pt;
    color: #474747;
}
ul{
    padding-left: 1rem;
}
.zoomx2{
    transform: scale(1.2);
}
.columna-compartimos{
    width: 50%;
}
.bg-footer{
    background-image: url('../images/bg-footer.jpg');
    height: 115px;
}

@media all and (max-width: 992px){
    .content-top-banner .top-banner,
    .content-main .main,
    .content-info .info{
        width: 100%;
    }
    .content-main .main img.float-end{
        width: 240px;
    }
    .content-top-banner .top-banner {
        padding: 40px 0px;
    }
    .content-contacto{
        padding: 20px 0;
    }
    .content-info .info-2{
        width: 100%;
    }
    .main{
        padding: 0 20px;
        height: 680px;
        background-position-x: -50px;
        background-size: cover;
    }
    .info-2-verde{
        width: 100%;
    }
    .columna-compartimos{
        width: 100%;
    }
    .info{
        background-size: cover;
    }
    .text-footer{
        text-align: center;
    }
    .cta-contacto{
        width: 100%;
    }
    .info-botones{
        width: 100%;
    }
    .col-elegir{
        width: 100%;
    }
    .banner img {
        width: 300px;
    }
    .top-banner img {
        width: 165px;
    }
    .txt-gracias{
        margin-bottom: 0;
        width: 100%;
    }
    .content-respuesta-top-banner, 
    .content-respuesta-main .main, 
    .content-respuesta-info .info-2, 
    .content-respuesta-banner .banner,
    .content-respuesta-info,
    .content-respuesta-info .info{
        width: 100%;
    }
    .content-respuesta-info .info{
        padding:  20px;
    }
    .content-respuesta-main .main{
        height: 670px;
    }
    .content-respuesta-main .main img{
        height: fit-content !important;
        width: fit-content !important;
    }
    .info.preguntas{
        flex-direction: column;
    }
    .bloque-wsp{
        flex-direction: column;
        width: 100%;
        padding-bottom: 40px;
    }
    .seccion-compartimos{
        align-items: center;
    }
    .respecto{
        text-align: center;
    }
    .titulo-1{
        font-size: 12.4pt;
    }
    .titulo-2{
        font-size: 8pt;
    }
}